*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}


body {
  background-color: #869297;
  color: #fff;
}

.title {
  text-align: center;
  margin: 25px;
  font-size: 40px;
}

.input {
  margin-bottom: 18px;
  padding: 12px;
  width: 350px;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  outline: none;
  caret-color: #869297;
  text-align: center;
}

.input::placeholder {
  font-size: 15px;
}

.animesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
  grid-gap: 1.5rem ;
  list-style: none;
}

.animesList img {
  max-width: 90%;
  border-radius: 4px;
  transition: all .3s;
}

.animesList img:hover {
  transform: scale(1.1);
}

.pagination {
  display: flex;
  list-style: none;
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 20px;
  height: 40px;
}

.pagination button {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 4px;
}

.pagination li + li {
  margin-left: 1rem;
}

.pagination__item--active {
  background:  none;
  font-weight: bold;
  border: none;
}

.pagination__item--active:focus {
  outline: none;
}
